h1{
    color:rgb(25, 150, 140);
}

p{
    color:rgb(36, 121, 158);
}
#hell{
    color:aqua;
} 
#box{
    color:rgb(182, 214, 209);
}
#yes{
    color:aqua;
}
#hah{
    color:rgb(148, 159, 161);
}
#lol{
    color:rgb(151, 94, 204)
}
#hm{
    color:rgb(118, 12, 218)
}
#fool{
    color:rgb(139, 60, 213)
}
#yo{
    color:rgb(118, 12, 218)
}